/* Estilo principal del contenedor de login (el split de 50/50) */
.login-container {
    display: flex;
    width: 100vw;  /* 100% del ancho de la ventana */
    height: 100vh; /* 100% de la altura de la ventana */
}

/* MITAD IZQUIERDA: Sección de la Imagen */
.login-image-section {
    flex: 1; /* Ocupa el 50% del ancho */
    background-image: url('../assets/images/store-front.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* MITAD DERECHA: Sección del Formulario */
.login-form-section {
    flex: 1; /* Ocupa el 50% del ancho */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente el contenido */
    align-items: center; /* Centrar horizontalmente el contenido */
    padding: 40px;
    background-color: var(--color-background-soft); /* Fondo suave */
}

/* Estilos del Logo y Texto */
.logo-area {
    text-align: center;
    margin-bottom: 50px;
}

.login-img{
    width: 680px; /* Ajusta este tamaño según tu logo */
    height: auto;
}

.login-logo {
    width: 200px; /* Ajusta este tamaño según tu logo */
    height: auto;
}

.logo-text {
    display: block;
    font-family: var(--font-family-title);
    font-size: 1.8rem; 
    font-weight: 700; 
    color: var(--color-primary-blue-dark); 
    letter-spacing: 1px;
    margin-top: 5px;
}

/* Estilos del Formulario */
.login-form {
    width: 100%;
    max-width: 350px; 
    text-align: left;
}

.form-label {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: var(--font-size-subtitle); /* 16px Bold */
    font-weight: 700; 
    color: var(--color-text-dark);
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--color-primary-blue-light);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: var(--font-size-body); /* 14px */
}

/* Estilos del Botón Principal */
.btn-primary {
    width: 100%;
    padding: 12px;
    margin-top: 30px;
    background-color: var(--color-success); 
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 700;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #3b9e42; /* Un verde ligeramente más oscuro */
}

/* Estilos de ¿Olvidó su contraseña? */
.forgot-password {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: var(--color-primary-blue-dark); 
    text-decoration: none;
    font-size: var(--font-size-body); /* 14px */
}

.forgot-password:hover {
    text-decoration: underline;
}

/* Estilo para el mensaje de error de JS */
.error-message {
    color: var(--color-error);
    text-align: center;
    margin-top: 15px;
    font-weight: 700;
}

/* Media Query para responsividad (móviles) */
@media (max-width: 768px) {
    .login-image-section {
        display: none; 
    }

    .login-form-section {
        flex: 100%; 
    }
}