/* VARIABLES DE COLOR Y TIPOGRAFÍA (Manual de Estilos de Paper's) */
:root {
    /* COLORES PRINCIPALES */
    --color-primary-blue-dark: #214F91; 
    --color-primary-blue-medium: #2A70CD;
    --color-primary-blue-light: #95B7EA;
    
    --color-secondary-purple-dark: #A22ACD; 
    --color-secondary-purple-light: #E5BEF3;
    
    /* COLORES BASE/ACCENT */
    --color-text-dark: #0D2240; /* Negro/Azul muy oscuro */
    --color-background-soft: #F5F5F5; /* Fondo de la sección de login */
    --color-white: #ffffff; 
    
    /* COLORES FUNCIONALES */
    --color-success: #4CAF50;    /* Verde para el botón Ingresar */
    --color-error: #E53935;      /* Rojo para mensajes de error */
    
    /* TIPOGRAFÍA */
    --font-family-title: 'Baloo 2', cursive;
    --font-family-body: 'Inria Sans', sans-serif;

    /* TAMAÑOS DE FUENTE */
    --font-size-title: 20px;
    --font-size-subtitle: 16px;
    --font-size-body: 14px;
}


/* ESTILOS GLOBALES */
body {
    font-family: var(--font-family-body); 
    color: var(--color-text-dark);
    background-color: var(--color-white);
}

.hidden {
    display: none;
}