.notif-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.notif-box {
  width: 90%;
  max-width: 1000px;
  background: #e4ebf7;
  padding: 35px;
  border-radius: 10px;
  margin-top: 20px;
}

.notif-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.notif-top-btns {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.notif-small-btn {
  width: 55px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #7da3d7;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.reload {
  font-size: 18px;
}

.notif-list {
  display: flex;
  flex-direction: column;
}

.notif-row {
  display: grid;
  grid-template-columns: 50px auto 50px;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #b8c6dc;
}

.notif-check {
  width: 18px;
  height: 18px;
}

.notif-star {
  font-size: 22px;
  cursor: pointer;
}

.notif-star svg {
  color: #f4c022;
}

.notif-accept {
  margin-top: 30px;
  padding: 10px 25px;
  border-radius: 10px;
  border: 1px solid #4a72a7;
  background: white;
  cursor: pointer;
}

.no-notif {
  margin-top: 20px;
  font-style: italic;
  color: #555;
}
